In [50]:
#Import dependencies
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from scipy import stats
from datetime import datetime
import time

In [51]:
#Set path of input file
file_path = "Resources/US_Salary_Cleaned.csv"
#Read input file into a DataFrame
salaries_df = pd.read_csv(file_path)
salaries_df

,timestamp,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,...,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,city,state,country
0,2017-06-07 11:33:00,Oracle,Product Manager,127000,1.5,1.5,107000,20000.0,10000.0,none,...,0,0,0,0,0,0,0,Redwood City,CA,USA
1,2017-06-10 17:11:00,eBay,Software Engineer,100000,5.0,3.0,100000,0.0,0.0,none,...,0,0,0,0,0,0,0,San Francisco,CA,USA
2,2017-06-11 14:53:00,Amazon,Product Manager,310000,8.0,0.0,155000,0.0,0.0,none,...,0,0,0,0,0,0,0,Seattle,WA,USA
3,2017-06-20 10:58:00,Microsoft,Software Engineer,157000,5.0,3.0,157000,0.0,0.0,none,...,0,0,0,0,0,0,0,Mountain View,CA,USA
4,2017-06-21 17:27:00,Microsoft,Software Engineer,208000,8.5,8.5,208000,0.0,0.0,none,...,0,0,0,0,0,0,0,Seattle,WA,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44718,2018-09-09 11:52:00,Google,Software Engineer,327000,10.0,1.0,155000,150000.0,22000.0,none,...,0,0,0,0,0,0,0,Seattle,WA,USA
44719,2018-09-13 08:23:00,Microsoft,Software Engineer,237000,2.0,2.0,146900,73200.0,16000.0,none,...,0,0,0,0,0,0,0,Redmond,WA,USA
44720,2018-09-13 14:35:00,MSFT,Software Engineer,220000,14.0,12.0,157000,25000.0,20000.0,none,...,0,0,0,0,0,0,0,Seattle,WA,USA
44721,2018-09-16 16:10:00,Salesforce,Software Engineer,280000,8.0,4.0,194688,57000.0,29000.0,none,...,0,0,0,0,0,0,0,San Francisco,CA,USA
44722,2019-01-29 05:12:00,apple,Software Engineer,200000,0.0,0.0,155000,27000.0,19000.0,Male,...,0,0,0,0,0,0,0,Sunnyvale,CA,USA

In [52]:
#Set path of input file
file_path = "Resources/Levels_Fyi_Salary_Data.csv"
#Read input file into a DataFrame
original_df = pd.read_csv(file_path)
original_df.head()

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [53]:
# Print out the city value counts
city_counts = salaries_df.city.value_counts()
print(city_counts)
#So there are 642 city/state pairs to retrieve from the API

Seattle            6945
San Francisco      5146
New York           3798
Redmond            2455
Sunnyvale          1823
                   ...
West Palm Beach       1
Kalamazoo             1
Inwood                1
Butte                 1
Hilbert               1
Name: city, Length: 642, dtype: int64

In [54]:
print(original_df['location'].unique())

['Redwood City, CA' 'San Francisco, CA' 'Seattle, WA' ...
 'Pasir Ris, SG, Singapore' 'Richmond, VA, United States' 'Hilbert, WI']

In [55]:
original_us_df = original_df.loc[original_df['dmaid']>0]
original_us_df
locations = original_us_df['location'].unique()
locations[0]

'Redwood City, CA'

In [56]:
from config import radar_api_key
import requests
base_url = "https://api.radar.io/v1/search/autocomplete?query=" 
base_url
#radar_api_key
#"https://api.radar.io/v1/search/autocomplete?query=brooklyn+roasting&near=40.70390,-73.98670" \
  #-H "Authorization: prj_live_pk_..."

'https://api.radar.io/v1/search/autocomplete?query='

In [57]:
#test one row for api call to see if code works
url = f"{base_url}{locations[0]}"
city_url = url 
city_url
city_latlong = requests.get(city_url,headers = {"Authorization":radar_api_key}).json()
city_latlong

{'meta': {'code': 200},
 'addresses': [{'latitude': 37.52658,
   'longitude': -122.206273,
   'geometry': {'type': 'Point', 'coordinates': [-122.206273, 37.52658]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3907642,
   'city': 'Redwood City',
   'stateCode': 'CA',
   'state': 'California',
   'layer': 'locality',
   'formattedAddress': 'Redwood City, CA USA',
   'addressLabel': 'Redwood City'},
  {'latitude': 37.485813,
   'longitude': -122.231446,
   'geometry': {'type': 'Point', 'coordinates': [-122.231446, 37.485813]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911063,
   'city': 'Redwood City',
   'number': '1',
   'postalCode': '94063',
   'stateCode': 'CA',
   'state': 'California',
   'street': 'James Ave Sequoia Station',
   'layer': 'place',
   'formattedAddress': '1 James Ave Sequoia Station, Redwood City, CA 94063 USA',
   'placeLabel': 'Redwood City Caltrain Station'},
  {'latitude': 37.492349,
   'longitude': -122.24239,
   'geometry': {'type': 'Point', 'coordinates': [-122.24239, 37.492349]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911782,
   'city': 'Redwood City',
   'number': '215',
   'postalCode': '94062',
   'stateCode': 'CA',
   'state': 'California',
   'street': 'El Camino Real',
   'layer': 'place',
   'formattedAddress': '215 El Camino Real, Redwood City, CA 94062 USA',
   'placeLabel': 'Redwood City Car Wash'},
  {'latitude': 37.488398,
   'longitude': -122.240988,
   'geometry': {'type': 'Point', 'coordinates': [-122.240988, 37.488398]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911789,
   'city': 'Redwood City',
   'number': '20',
   'postalCode': '94062',
   'stateCode': 'CA',
   'state': 'California',
   'street': 'Birch St',
   'layer': 'place',
   'formattedAddress': '20 Birch St, Redwood City, CA 94062 USA',
   'placeLabel': 'Redwood City Dental Care'},
  {'latitude': 37.46337,
   'longitude': -122.22251,
   'geometry': {'type': 'Point', 'coordinates': [-122.22251, 37.46337]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911018,
   'city': 'Redwood City',
   'number': '50',
   'postalCode': '94061',
   'stateCode': 'CA',
   'state': 'California',
   'street': 'Horgan Ave',
   'layer': 'place',
   'formattedAddress': '50 Horgan Ave, Redwood City, CA 94061 USA',
   'placeLabel': 'Carpet Cleaning Redwood City'},
  {'latitude': 37.485828,
   'longitude': -122.231722,
   'geometry': {'type': 'Point', 'coordinates': [-122.231722, 37.485828]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911085,
   'city': 'Redwood City',
   'postalCode': '94063',
   'stateCode': 'CA',
   'state': 'California',
   'layer': 'place',
   'formattedAddress': 'Redwood City, CA 94063 USA',
   'placeLabel': 'Redwood City'},
  {'latitude': 37.487192,
   'longitude': -122.23395,
   'geometry': {'type': 'Point', 'coordinates': [-122.23395, 37.487192]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911231,
   'city': 'Redwood City',
   'postalCode': '94063',
   'stateCode': 'CA',
   'state': 'California',
   'layer': 'place',
   'formattedAddress': 'Redwood City, CA 94063 USA',
   'placeLabel': 'Redwood City Caltrain Parking'},
  {'latitude': 37.484772,
   'longitude': -122.232916,
   'geometry': {'type': 'Point', 'coordinates': [-122.232916, 37.484772]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911220,
   'city': 'Redwood City',
   'number': '999',
   'postalCode': '94063',
   'stateCode': 'CA',
   'state': 'California',
   'street': 'El Camino Real',
   'layer': 'place',
   'formattedAddress': '999 El Camino Real, Redwood City, CA 94063 USA',
   'placeLabel': 'Carnitas El Rincon Redwood City'},
  {'latitude': 37.48616,
   'longitude': -122.240395,
   'geometry': {'type': 'Point', 'coordinates': [-122.240395, 37.48616]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911809,
   'city': 'Redwood City',
   'number': '3060',
   'postalCode': '94062',
   'stateCode': 'CA',
   'state': 'California',
   'street': 'Broadway',
   'layer': 'place',
   'formattedAddress': '3060 Broadway, Redwood City, CA 94062 USA',
   'placeLabel': 'California Skin Institute Redwood City'},
  {'latitude': 37.493093,
   'longitude': -122.243328,
   'geometry': {'type': 'Point', 'coordinates': [-122.243328, 37.493093]},
   'country': 'United States',
   'countryCode': 'US',
   'countryFlag': '🇺🇸',
   'distance': 3911838,
   'city': 'Redwood City',
   'number': '105',
   'postalCode': '94062',
   'stateCode': 'CA',
   'state': 'California',
   'street': 'El Camino Real',
   'layer': 'place',
   'formattedAddress': '105 El Camino Real, Redwood City, CA 94062 USA',
   'placeLabel': 'Redwood City Mobile Car Repair'}]}

In [58]:
locations

array(['Redwood City, CA', 'San Francisco, CA', 'Seattle, WA',
       'Sunnyvale, CA', 'Mountain View, CA', 'Redmond, WA',
       'Bellevue, WA', 'Menlo Park, CA', 'Cupertino, CA', 'New York, NY',
       'Los Gatos, CA', 'Baltimore, MD', 'Sacramento, CA',
       'Hillsboro, OR', 'Aliso Viejo, CA', 'San Jose, CA',
       'Palo Alto, CA', 'Kirkland, WA', 'Washington, DC', 'Austin, TX',
       'Boston, MA', 'San Diego, CA', 'New Orleans, LA',
       'Santa Clara, CA', 'Irvine, CA', 'Pittsburgh, PA', 'San Ramon, CA',
       'Los Angeles, CA', 'Folsom, CA', 'Charleston, SC',
       'Culver City, CA', 'Mc Lean, VA', 'Portland, OR', 'Boulder, CO',
       'Pleasanton, CA', 'Fremont, CA', 'Beaverton, OR', 'Omaha, NE',
       'Waltham, MA', 'Philadelphia, PA', 'Indianapolis, IN',
       'Milwaukee, WI', 'Minneapolis, MN', 'Chicago, IL', 'Herndon, VA',
       'Denver, CO', 'Albany, NY', 'Hoboken, NJ', 'Newark, NJ',
       'Chandler, AZ', 'Colorado Springs, CO', 'Costa Mesa, CA',
       'San Bruno, CA', 'San Mateo, CA', 'Plano, TX', 'Richmond, VA',
       'Phoenix, AZ', 'Dallas, TX', 'Round Rock, TX', 'Oakland, CA',
       'Madison, WI', 'Bedford, MA', 'Broomfield, CO',
       'Monroe, LA, United States', 'Harrisburg, PA', 'Cincinnati, OH',
       'Jersey City, NJ', 'Durham, NC', 'Burlington, MA', 'Raleigh, NC',
       'Fort Lauderdale, FL', 'Redlands, CA', 'Orlando, FL',
       'Cambridge, MA, United States', 'Oregon City, OR', 'Renton, WA',
       'Atlanta, GA', 'Eden Prairie, MN', 'Roseland, NJ', 'Reston, VA',
       'Santa Monica, CA', 'St. Louis, MO', 'Chantilly, VA',
       'New York Mills, NY', 'Needham, MA', 'Foster City, CA',
       'Bloomington, MN', 'Los Altos, CA', 'Woonsocket, RI',
       'Milpitas, CA', 'Champaign, IL', 'Salt Lake City, UT',
       'Poughkeepsie, NY', 'Charlotte, NC', 'Venice, CA',
       'Winston Salem, NC', 'Morrisville, NC', 'Roswell, GA',
       'Cambridge, MA', 'Columbus, OH', 'Detroit, MI',
       'Redondo Beach, CA', 'Whippany, NJ', 'Brooklyn, NY',
       'Stamford, CT', 'San Antonio, TX', 'Albuquerque, NM', 'Tempe, AZ',
       'Newtown Square, PA', 'Yorktown Heights, NY', 'Boxborough, MA',
       'Hopkinton, MA', 'Cary, NC', 'Tampa, FL', 'Bentonville, AR',
       'Snoqualmie, WA', 'Middletown, NJ', 'Hartford, CT',
       'Burlington, VT', 'Bothell, WA', 'Plantation Acres, FL',
       'Longmont, CO', 'Houston, TX', 'Cedar Rapids, IA',
       'Colorado City, CO', 'Emeryville, CA', 'Vancouver, WA', 'Lehi, UT',
       'Berkeley, CA', 'Hudson, MA', 'Kansas City, KS', 'Vienna, VA',
       'Manhattan, NY', 'Ann Arbor, MI', 'Santa Rosa, CA',
       'Allentown, PA', 'Santa Barbara, CA', 'Cleveland, OH',
       'Grand Rapids, MI', 'Nashua, NH', 'Natick, MA', 'Sandy, UT',
       'Mount Laurel, NJ', 'Boise, ID', 'Arlington, VA',
       'Ellicott City, MD', 'San Fernando, LB, Philippines',
       'Norwalk, CT', 'Sterling, VA', 'Manchester, NH', 'Bristol, CT',
       'Duluth, GA', 'Nashville, TN', 'College Station, TX',
       'Long Beach, CA', 'Littleton, MA', 'Wilmington, DE', 'Lebanon, NH',
       'Huntsville, AL', 'Glendale, CA', 'Warren, MI', 'Kansas City, MO',
       'Fort Mill, SC', 'Wausau, WI', 'Point Richmond, CA', 'Warren, NJ',
       'Frankford, DE', 'Milford, MI', 'Walnut Creek, CA',
       'Watertown, MA', 'Los Alamitos, CA', 'Armonk, NY', 'Lenexa, KS',
       'Mill Valley, CA', 'Canonsburg, PA', 'Bridgewater, NJ',
       'Arlington, TX', 'Murfreesboro, TN', 'Littleton, CO', 'Layton, UT',
       'Irving, TX', 'California City, CA', 'Sparks, NV',
       'Des Moines, IA', 'Dearborn, MI', 'Buffalo Grove, IL',
       'San Rafael, CA', 'Farmington, UT', 'Carlsbad, CA',
       'Lake Forest, CA', 'St. Petersburg, FL', 'Silver Spring, MD',
       'Basking Ridge, NJ', 'Deerfield Beach, FL', 'Stratford, CT',
       'Beverly, MA', 'Windsor, CT', 'Scottsdale, AZ', 'Lexington, KY',
       'Fort Collins, CO', 'North Reading, MA', 'Clearwater, FL',
       'Fairfax, VA', 'Piscataway, NJ', 'Campbell, CA',
       'Brooklyn Park, MN', 'Issaquah, WA', 'King of Prussia, PA',
       'Aspen, CO', 'College Park, MD', 'Norfolk, VA', 'Frisco, TX',
       'Rocklin, CA', 'San Dimas, CA', 'Marietta, GA', 'Portsmouth, RI',
       'South San Francisco, CA', 'Sugar Land, TX', 'Newark, DE',
       'Fort Worth, TX', 'South Jordan, UT', 'Santa Cruz, CA',
       'Tewksbury, MA', 'Saint Charles, MO', 'Reno, NV', 'Tucson, AZ',
       'Ridgefield Park, NJ', 'Westminster, CO', 'Provo, UT',
       'Draper, UT', 'Everett, WA', 'Dover, NH', 'Bend, OR',
       'Alpharetta, GA', 'Verona, WI', 'Goshen, IN', 'Pasadena, CA',
       'Rochester, MN', 'Princeton, NJ', 'Columbia, MD',
       'American Fork, UT', 'Englewood, CO', 'Weston, FL',
       'Friday Harbor, WA', 'Manhattan Beach, CA', 'Raritan, NJ',
       'Hunt Valley, MD', 'Buda, TX', 'Baton Rouge, LA', 'Fulton, MD',
       'Exton, PA', 'Malvern, PA', 'Framingham, MA', 'Falls Church, VA',
       'Belgium, WI', 'Roseville, MN', 'Londonderry, VT', 'Montvale, NJ',
       'Mechanicsburg, PA', 'Minnetonka, MN', 'Morgantown, WV',
       'Corvallis, OR', 'Kent, WA', 'Westford, MA', 'Jacksonville, FL',
       'Illinois City, IL', 'Richardson, TX', 'El Segundo, CA',
       'Wilmington, MA', 'Miami, FL', 'Goleta, CA', 'Holtsville, NY',
       'Providence, RI', 'Charlottesville, VA', 'Southbury, CT',
       'San Carlos, CA', 'Roseville, CA', 'Hoffman Estates, IL',
       'Marlborough, MA', 'Florham Park, NJ', 'Alexandria, VA',
       'Lake Mary, FL', 'Claymont, DE', 'Sumner, WA', 'Kokomo, IN',
       'Hawthorne, CA', 'Greenwich, CT', 'Ontario, CA', 'Burbank, CA',
       'Windsor Locks, CT', 'Springfield, VA', 'Malmo, NE', 'Beloit, WI',
       'Tulsa, OK', 'San Luis Obispo, CA', 'Moorestown, NJ',
       'Saint Paul, MN', 'Langhorne, PA', 'Parker, CO',
       'West Chester, PA', 'San Fernando, CA', 'Canada, KY', 'Owego, NY',
       'Bala Cynwyd, PA', 'Skillman, NJ', 'Newport Beach, CA',
       'Memphis, TN', 'O Fallon, MO', 'Dublin, CA', 'Andover, MA',
       'Newton, MA', 'Needham Heights, MA', 'Seabrook, NH',
       'Peterborough, NH', 'Wichita, KS', 'Greenville, TX',
       'Plymouth Meeting, PA', 'Portsmouth, NH', 'Johnston, IA',
       'Urbandale, IA', 'Brazil, IN', 'Lafayette, LA', 'Buffalo, NY',
       'Downingtown, PA', 'Fairmont, WV', 'Lake Charles, LA',
       'Annapolis Junction, MD', 'Sunrise, FL', 'Greenville, SC',
       'Las Vegas, NV', 'Meriden, CT', 'Olathe, KS', 'Glen Allen, VA',
       'Aurora, CO', 'Pascagoula, MS', 'Iowa City, IA',
       'Ballston Spa, NY', 'Westerville, OH', 'Carpinteria, CA',
       'Chicago Heights, IL', 'Virginia Beach, VA', 'Miami Beach, FL',
       'Daly City, CA', 'Secaucus, NJ', 'China, ME', 'Louisville, CO',
       'San Juan Bautista, CA', 'London Mills, IL', 'Holmdel, NJ',
       'Naperville, IL', 'Southlake, TX', 'Montreal, MO', 'Wayne, NJ',
       'Florida, NY', 'North Charleston, SC', 'Newark, CA',
       'Boca Raton, FL', 'Menomonee Falls, WI', 'Pennington, NJ',
       'Melbourne, FL', 'Ogden, UT', 'Gainesville, FL', 'Allen, TX',
       'Seal Beach, CA', 'Columbus, IN', 'Oklahoma City, OK',
       'Reidsville, NC', 'Murray, UT', 'Hanover, MD', 'Delaware City, DE',
       'Purchase, NY', 'Louisville, KY', 'Edison, NJ', 'Saint Peters, MO',
       'Texas City, TX', 'Arizona City, AZ', 'New Hampton, NH',
       'Germantown, IL', 'Titusville, NJ', 'Claremont, CA',
       'Palm Bay, FL', 'West Valley City, UT', 'Prineville, OR',
       'Italy, TX', 'Warrenville, IL', 'Menomonie, WI',
       'Berlin Center, OH', 'Bloomington, IL', 'Lansing, MI',
       'Newport News, VA', 'Ames, IA', 'Sarasota, FL', 'Gilroy, CA',
       'Temple, TX', 'Bethesda, MD', 'Londonderry, OH', 'Lynn, MA',
       'Moscow Mills, MO', 'Eagan, MN', 'Livermore, CA', 'Virgilina, VA',
       'Rockford, IL', 'Helena, MT', 'Pittsburg, CA', 'Johnston, RI',
       'Schaumburg, IL', 'Minnesota City, MN', 'Manassas, VA',
       'Rolling Meadows, IL', 'Summit, NJ', 'Mckinney, TX', 'Ashburn, VA',
       'East Hartford, CT', 'Spring, TX', 'Orange, CA', 'Northridge, CA',
       'Munich, ND', 'Dearborn Heights, MI', 'Alameda, CA', 'Boone, NC',
       'White Plains, NY', 'New Brunswick, NJ', 'Boston, AR',
       'Palmdale, CA', 'Bowling Green, OH', 'Wilton, CT', 'Columbia, MO',
       'Azusa, CA', 'Mason, OH', 'Santa Rosa Beach, FL', 'Elkridge, MD',
       'Eugene, OR', 'Indiana, PA', 'Amsterdam, NY',
       'Saratoga Springs, NY', 'Plymouth, MI', 'Fullerton, CA',
       'Saint Louis, MI', 'Antioch, TN', 'Morristown, NJ', 'Roanoke, TX',
       'Fayetteville, NC', 'Tualatin, OR', 'Trumbull, CT', 'Ireland, IN',
       'Dublin, GA', 'Raleigh, ND', 'Schenectady, NY',
       'Woodland Hills, CA', 'Shelton, CT', 'Waukesha, WI',
       'Bloomfield, CT', 'Hahira, GA', 'Dallas Center, IA',
       'Elk Grove, CA', 'Teaneck, NJ', 'Thousand Oaks, CA',
       'Torrance, CA', 'Westport, CT', 'Berlin, CT', 'Iselin, NJ',
       'Coppell, TX', 'San Marcos, CA', 'Tracy, CA', 'Deerfield, IL',
       'Franklin, TN', 'Sammamish, WA', 'Oldsmar, FL', 'Rialto, CA',
       'Wayne, PA', 'Oxford, MS', 'Suwanee, GA', 'Pensacola, FL',
       'Garner, NC', 'Bloomington, IN', 'Portland, ME', 'Liverpool, NY',
       'Pelham, NH', 'Naples, FL', 'Rochester, NY', 'Dublin, OH',
       'Shawnee Mission, KS', 'Berwyn, PA', 'Belmont, CA', 'Tacoma, WA',
       'Cypress, CA', 'Temecula, CA', 'Merrimack, NH',
       'Overland Park, KS', 'Indian Lake, NY', 'Auburn Hills, MI',
       'Northbrook, IL', 'Mountain View, AR', 'London, KY',
       'Palm Beach, FL', 'West Orange, NJ', 'Wilsonville, OR',
       'Clearfield, UT', 'Horsham, PA', 'Owings Mills, MD',
       'Denver City, TX', 'New York Mills, MN', 'Valdosta, GA',
       'Troy, MI', 'Honolulu, HI', 'Hayward, CA', 'McLean, TX',
       'Gilbert, AZ', 'Franklin, WI', 'Martinsburg, WV', 'Richmond, CA',
       'Athens, GA', 'Berlin, GA', 'West Palm Beach, FL', 'Kalamazoo, MI',
       'Inwood, WV', 'Columbia, SC', 'Trenton, NJ', 'Butte, MT',
       'Birmingham, AL', 'Davie, FL', 'Hermitage, TN', 'Monroe, LA',
       'Rio Rancho, NM', 'Vermont, IL', 'McLean, NE', 'Fresno, CA',
       'Van Nuys, CA', 'Westborough, MA', 'Parsippany, NJ', 'Mesa, AZ',
       'Arvada, CO', 'Rahway, NJ', 'Chapel Hill, NC', 'Placerville, CA',
       'Lindon, UT', 'Steubenville, OH', 'Fall River, MA',
       'Germantown, MD', 'San Diego, TX', 'Sabinsville, PA',
       'Dublin, DN, Ireland', 'Centreville, VA', 'Vacaville, CA',
       'Suitland, MD', 'Reedsville, PA', 'Bolivia, NC', 'Eatontown, NJ',
       'Burnsville, MN', 'Dublin, IN', 'Traverse City, MI', 'Suffolk, VA',
       'Moline, IL', 'West Hollywood, CA', 'Wellesley, MA',
       'Nebraska City, NE', 'Mahwah, NJ', 'South Bend, IN',
       'Plymouth, MN', 'Endicott, NY', 'Collierville, TN',
       'Cape Girardeau, MO', 'Roy, UT', 'Egypt, AR', 'Loveland, CO',
       'Paterson, NJ', 'Waterloo, AL', 'Augusta, GA', 'West Chester, OH',
       'Fargo, ND', 'Spokane, WA', 'Michigan Center, MI', 'York, PA',
       'Ohio City, OH', 'Englewood Cliffs, NJ', 'Syracuse, NY',
       'Columbus, GA', 'La Jolla, CA', 'Bozeman, MT', 'Hauppauge, NY',
       'North Haven, CT', 'Abingdon, MD', 'Fort Bragg, NC',
       'Gaithersburg, MD', 'Hopewell, NJ', 'Toronto, OH', 'Sorrento, FL',
       'Fountain Inn, SC', 'Highland Park, NJ', 'Frederick, MD',
       'Crapo, MD', 'Tustin, CA', 'Bossier City, LA', 'Miramar, FL',
       'Johnson City, TN', 'Annandale, VA', 'Peachtree City, GA',
       'Farmington, CT', 'Shingle Springs, CA', 'Worcester, MA',
       'Hudson, NH', 'Fairfield, CT', 'Linthicum Heights, MD',
       'Palm Springs, CA', 'Midvale, UT', 'Mobile, AL',
       'Arlington Heights, IL', 'Missouri City, MO', 'Maple Shade, NJ',
       'Whitehouse Station, NJ', 'Hiawatha, IA', 'New Braunfels, TX',
       'Clifton, NJ', 'Burlingame, CA', 'La Canada Flintridge, CA',
       'Thornton, CO', 'Rogers, AR', 'Somerville, MA', 'Archbald, PA',
       'Hazelwood, MO', 'Fredericksburg, VA', 'Poland, IN',
       'Aberdeen Proving Ground, MD', 'Rome, NY', 'Santa Maria, CA',
       'Fort Knox, KY', 'Monterey, CA', 'Poway, CA', 'Evanston, IL',
       'Kaneohe, HI', 'Moscow, ID', 'Simsbury, CT', 'Atlanta, NY',
       'Bellevue, OH', 'Fairfax Station, VA', 'Cheyenne, WY',
       'Columbus Grove, OH', 'Irvine, PA', 'Brea, CA',
       'Huntington Beach, CA', 'California Hot Springs, CA',
       'Redmond, UT', 'Hopewell Junction, NY', 'La Crosse, WI',
       'Rockville, MD', 'Moscow, PA', 'Paris, IL', 'Bridgeport, CT',
       'Dayton, OH', 'Sunnyvale, TX', 'Hamilton, NJ', 'Washington, VA',
       'London, WV', 'San Jose, IL', 'Hillsboro, OH',
       'Mississippi State, MS', 'New Providence, NJ', 'Colorado City, AZ',
       'Camas, WA', 'Sacramento, PA', 'Hawaiian Gardens, CA',
       'Dublin, NH', 'East Rutherford, NJ', 'Toledo, OH', 'New Haven, CT',
       'Smithfield, RI', 'Waukegan, IL', 'Lexington Park, MD',
       'Dublin, PA', 'Bergenfield, NJ', 'Berkeley Heights, NJ',
       'Anaheim, CA', 'Saint Petersburg, FL', 'Oregon, OH',
       'Fort Myers, FL', 'Dublin, TX', 'Pennsylvania Furnace, PA',
       'Concord, NC', 'Detroit, ME', 'Pontiac, MI', 'Wilmington, NC',
       'Chester Springs, PA', 'Chandler Heights, AZ', 'San Leandro, CA',
       'Charleston, WV', 'Sandisfield, MA', 'Plymouth, MA',
       'San Mateo, FL', 'Covington, KY', 'Taunton, MA', 'California, PA',
       'Allen Park, MI', 'Bellevue, ID', 'Ridley Park, PA',
       'Morris Plains, NJ', 'Monument, CO', 'Maryland Heights, MO',
       'Lake Saint Louis, MO', 'West McLean, VA', 'Annapolis, MD',
       'North Houston, TX', 'Yulee, FL', 'Fort Wayne, IN',
       'Mountain View, MO', 'Santa Clarita, CA', 'Shevlin, MN',
       'Edgewater, NJ', 'Shreveport, LA', 'Fort George G Meade, MD',
       'Cape Canaveral, FL', 'Georgiana, AL', 'London, OH',
       'New City, NY', 'Richmond, VA, United States', 'Hilbert, WI'],
      dtype=object)

In [59]:
salaries_df['city, state'] = salaries_df['city'] + ", " + salaries_df['state']
salaries_df['city, state']

0         Redwood City, CA
1        San Francisco, CA
2              Seattle, WA
3        Mountain View, CA
4              Seattle, WA
               ...
44718          Seattle, WA
44719          Redmond, WA
44720          Seattle, WA
44721    San Francisco, CA
44722        Sunnyvale, CA
Name: city, state, Length: 44723, dtype: object

In [60]:
cities = salaries_df[['city','state','city, state']]
cities

                city state        city, state
0       Redwood City    CA   Redwood City, CA
1      San Francisco    CA  San Francisco, CA
2            Seattle    WA        Seattle, WA
3      Mountain View    CA  Mountain View, CA
4            Seattle    WA        Seattle, WA
...              ...   ...                ...
44718        Seattle    WA        Seattle, WA
44719        Redmond    WA        Redmond, WA
44720        Seattle    WA        Seattle, WA
44721  San Francisco    CA  San Francisco, CA
44722      Sunnyvale    CA      Sunnyvale, CA

[44723 rows x 3 columns]

In [61]:
#s_array = df[["A", "B", "C"]].to_numpy()
cities_array = cities[['city','state','city, state']].to_numpy()
cities_array

array([['Redwood City', 'CA', 'Redwood City, CA'],
       ['San Francisco', 'CA', 'San Francisco, CA'],
       ['Seattle', 'WA', 'Seattle, WA'],
       ...,
       ['Seattle', 'WA', 'Seattle, WA'],
       ['San Francisco', 'CA', 'San Francisco, CA'],
       ['Sunnyvale', 'CA', 'Sunnyvale, CA']], dtype=object)

In [62]:
from config import weather_api_key
import requests
base_url = "http://api.openweathermap.org/geo/1.0/direct?q=" 
base_url

#api form for openweather
#http://api.openweathermap.org/geo/1.0/direct?q={city name},{state code},{country code}&limit={limit}&appid={API key}

'http://api.openweathermap.org/geo/1.0/direct?q='

In [63]:
#test one row for api call to see if code works
url = f"{base_url}{cities_array[0][0]},{cities_array[0][1]},US&appid={weather_api_key}"
city_url = url 
city_url
city_latlong = requests.get(city_url).json()
print(city_latlong)
print(city_url)

[{'name': 'Redwood City', 'local_names': {'zh': '红木城', 'en': 'Redwood City'}, 'lat': 37.4863239, 'lon': -122.232523, 'country': 'US', 'state': 'California'}]
http://api.openweathermap.org/geo/1.0/direct?q=Redwood City,CA,US&appid=7cd5349a8a81351c676e6d427aecd0bb

In [64]:
cities_short = cities_array[0:10]

In [ ]:
#Starting URL for Weather Map API call

base_url = "http://api.openweathermap.org/geo/1.0/direct?q=" 
#api form for openweather
#http://api.openweathermap.org/geo/1.0/direct?q={city name},{state code},{country code}&limit={limit}&appid={API key}

#Create an empty list to hold the lat/long data
lat_lng = []

#Print the beginning of the logging
print("Beginning Data Retrieval   ")
print("-------------------------")

#Create counters
record_count = 1
set_count = 1


#Loop through the cities and build the city url
for city in cities_array:
    
    #Group cities in sets of 600 for logging purposes (and for not exceeding api limits)
    #if i has no remainder when divided by 600, which means we have completed a set of 600, (% is the operator for modular arithmetic)
    #then increment main counter and increment set counter
    #so this if is executed after the 600th, 1200th, etc pass, this is when we sleep for a minute
    if (record_count % 600 == 0 and record_count >= 600): 
        set_count += 1
        record_count = 1
        time.sleep(60)

    #Create an endpoint url with each city
    city_url = f"{base_url}{city[0]},{city[1]},US&appid={weather_api_key}"

    #Log the URL, record, and set numbers and the city
    print(f"Processing Record {record_count} of Set {set_count} | {city}")

    #Add one to the record count
    record_count += 1
    
    try:
        #Parse the JSON and retrieve data
        city_info = requests.get(city_url).json()
        print(city_info)
        #Parse out the needed data
        city_lat = city_info[0]["lat"]
        city_lng = city_info[0]["lon"]
        city_name = city_info[0]["name"]
        city_country = city_info[0]["country"]
        city_state = city_info[0]["state"]
        
        #append the data into the city_data list
        lat_lng.append({  "Lat": city_lat,
                          "Lng": city_lng,
                          "Name": city_name,
                          "State": city_state,
                          "Country": city_country})
        
    #if an error is experienced, skip the city    
    except:
        print("City not found. Skipping...")
        pass
    
#Indicate that the Data Loading is complete
print("-------------------------")
print("Data Retrieval Complete")
print("-------------------------")

In [ ]:
len(lat_lng)

In [42]:
len(lat_lng)

694

In [43]:
lat_lng_df = pd.DataFrame(lat_lng)
lat_lng_df.head()

         Lat         Lng           Name       State Country
0  37.486324 -122.232523   Redwood City  California      US
1  37.779026 -122.419906  San Francisco  California      US
2  47.603832 -122.330062        Seattle  Washington      US
3  37.389389 -122.083210  Mountain View  California      US
4  47.669414 -122.123877        Redmond  Washington      US

In [44]:
#write lat_lng to a csv file
lat_lng_df.to_csv("Resources/Lat_Lng.csv",index=False)